name: run baseball power ratings

on:
  schedule:
    - cron: "0 13 * * *"   # Runs at 7:00 AM CST (1:00 PM UTC)
    - cron: "0 17 * * *"  # Runs at 11:00 AM CST (5:00 PM UTC)
    - cron: "0 21 * * *"  # Runs at 3:00 PM CST (9:00 PM UTC)
    - cron: "0 1 * * *"  # Runs at 7:00 PM CST (1:00 AM UTC)
    - cron: "0 5 * * *"   # Runs at 11:00 PM CST (5:00 AM UTC next day)
  workflow_dispatch:  # Allows manual trigger if needed

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Python Script
        run: python baseball_power_rating.py

      - name: Commit Changes
        run: |
          git config --local user.name "GitHub Action"
          git config --local user.email "action@github.com"
          git add -A
          git diff-index --quiet HEAD || (git commit -a -m "baseball ratings update" --allow-empty)
      
      - name: Push Changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
